
<form class="userform" method="POST" action="">
    
    <div class="form-element">
        <label for="last_name">Title:</label>
        <input type="text" name="title" id="title" {{#if message}} value={{message.title}} {{else}} value=""{{/if}}  />
    </div>
    <div class="form-element">
        <label for="email">Message:</label>
        <textarea name="message" id="message" rows="6" cols="50"></textarea>
    </div>
    
    <div class="form-element">
        <button type="submit">Submit</button>
    </div>
</form>

<ul>
{{#each errors}}
    <li class="error-list">{{msg}}</li>
{{/each}}
</ul>